<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./estilo.css">
    <script src="./script.js" defer ></script>
    <title>Atencion Medica</title>
    
</head>
<body>
    <header>
        <div  id="nombreDoctor"></div>
        <nav>
            <ul>
                <li><a href="#" id="cerrar" >Cerrar Sesión</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="agenda" id="resultado">
            
        </section>
    </main>

    <footer>
        <p>© 2024 Atención Médica</p>
    </footer>
</body>

</html>

